<section class="proyectos contenedor" id="proyectos">

    <h2>Proyectos y prácticas</h2>

    <input type="hidden" name="selection" #selection>

    <div class="proyectos__contenedor">

        <div *ngFor="let proyecto of proyectos" class="card" (click)="selection.value = proyecto.valor">
            <div class="contenedor__img">
                <img class="card__img" src={{proyecto.srcImg}} alt={{proyecto.srcAlt}}>
            </div>

            <div class="card__descripcion">
                {{proyecto.descripcion}}
            </div>

            <div class="card__enlaces">
                <a href={{proyecto.source}} target="_blank" rel="noopener noreferrer" tooltip="Ver código en Github" placement="bottom">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M17.25 6.75L22.5 12l-5.25 5.25m-10.5 0L1.5 12l5.25-5.25m7.5-3l-4.5 16.5" />
                    </svg>
                </a>

                <a *ngIf="proyecto.demo" href={{proyecto.demo}} target="_blank" rel="noopener noreferrer" tooltip="Ver demo desplegado" placement="bottom">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M9 17.25v1.007a3 3 0 01-.879 2.122L7.5 21h9l-.621-.621A3 3 0 0115 18.257V17.25m6-12V15a2.25 2.25 0 01-2.25 2.25H5.25A2.25 2.25 0 013 15V5.25m18 0A2.25 2.25 0 0018.75 3H5.25A2.25 2.25 0 003 5.25m18 0V12a2.25 2.25 0 01-2.25 2.25H5.25A2.25 2.25 0 013 12V5.25" />
                    </svg>
                </a>
            </div>
        </div>



        <!-- breaking bad wiki -->
        <!-- <div class="card" (click)="selection.value = 'breaking bad'">
            <div class="contenedor__img">
                <img class="card__img" src="../../../assets/img/capturabreaking-bad-wiki.jpeg" alt="captura de app web hecha en angular de la wiki de la serie breaking bad">
            </div>

            <div class="card__descripcion">
                Sitio web hecho en Angular de la wiki de la serie Breaking bad. Búsqueda integrada y bootstrap.
            </div>

            <div class="card__enlaces">
                <a href="https://github.com/NeelBit/breaking_bad_wiki_angular" target="_blank" rel="noopener noreferrer" tooltip="Ver código en Github" placement="bottom">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M17.25 6.75L22.5 12l-5.25 5.25m-10.5 0L1.5 12l5.25-5.25m7.5-3l-4.5 16.5" />
                    </svg>
                </a>

                <a href="http://" target="_blank" rel="noopener noreferrer" tooltip="Ver demo desplegado" placement="bottom">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M9 17.25v1.007a3 3 0 01-.879 2.122L7.5 21h9l-.621-.621A3 3 0 0115 18.257V17.25m6-12V15a2.25 2.25 0 01-2.25 2.25H5.25A2.25 2.25 0 013 15V5.25m18 0A2.25 2.25 0 0018.75 3H5.25A2.25 2.25 0 003 5.25m18 0V12a2.25 2.25 0 01-2.25 2.25H5.25A2.25 2.25 0 013 12V5.25" />
                    </svg>
                </a>
            </div>
        </div> -->

        <!-- a lo artesanal -->
        <!-- <div class="card" (click)="selection.value = 'a lo artesanal'">
            <div class="contenedor__img">
                <img class="card__img" src="../../../assets/img/capturaAloartesanalGenericLaptop.jpg" alt="captura de sitio web landing page html css y js a lo artesanal">
            </div>

            <div class="card__descripcion">
                Landing page en HTML, CSS y JS, para mini emprendimiento "a lo artesanal".
            </div>

            <div class="card__enlaces">
                <a href="https://github.com/NeelBit/a_lo_artesanal" target="_blank" rel="noopener noreferrer" tooltip="Ver código en Github" placement="bottom">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M17.25 6.75L22.5 12l-5.25 5.25m-10.5 0L1.5 12l5.25-5.25m7.5-3l-4.5 16.5" />
                    </svg>
                </a>

                <a href="https://aloartesanal.netlify.app/" target="_blank" rel="noopener noreferrer" tooltip="Ver demo desplegado" placement="bottom">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M9 17.25v1.007a3 3 0 01-.879 2.122L7.5 21h9l-.621-.621A3 3 0 0115 18.257V17.25m6-12V15a2.25 2.25 0 01-2.25 2.25H5.25A2.25 2.25 0 013 15V5.25m18 0A2.25 2.25 0 0018.75 3H5.25A2.25 2.25 0 003 5.25m18 0V12a2.25 2.25 0 01-2.25 2.25H5.25A2.25 2.25 0 013 12V5.25" />
                    </svg>
                </a>
            </div>
        </div> -->

        <!-- Despertares -->
        <!-- <div class="card" (click)="selection.value = 'despertares'">
            <div class="contenedor__img">
                <img class="card__img" src="../../../assets/img/CapturaDespertaresPropuesta.jpeg" alt="captura de sitio web simple en html, css y javascript">
            </div>

            <div class="card__descripcion">
                Sitio web simple estilo landing page, propuesta para "centro de dia despertares". Hecho con HTML, CSS Y JS.
            </div>

            <div class="card__enlaces">
                <a href="https://github.com/NeelBit/despertares_propuesta" target="_blank" rel="noopener noreferrer" tooltip="Ver código en Github" placement="bottom">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M17.25 6.75L22.5 12l-5.25 5.25m-10.5 0L1.5 12l5.25-5.25m7.5-3l-4.5 16.5" />
                    </svg>
                </a>

                <a href="https://neelbit.github.io/despertares_propuesta/" target="_blank" rel="noopener noreferrer" tooltip="Ver demo desplegado" placement="bottom">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M9 17.25v1.007a3 3 0 01-.879 2.122L7.5 21h9l-.621-.621A3 3 0 0115 18.257V17.25m6-12V15a2.25 2.25 0 01-2.25 2.25H5.25A2.25 2.25 0 013 15V5.25m18 0A2.25 2.25 0 0018.75 3H5.25A2.25 2.25 0 003 5.25m18 0V12a2.25 2.25 0 01-2.25 2.25H5.25A2.25 2.25 0 013 12V5.25" />
                    </svg>
                </a>
            </div>
        </div> -->

        <!-- tour of heroes -->
        <!-- <div class="card" (click)="selection.value = 'tour of heroes'">
            <div class="contenedor__img">
                <img class="card__img" src="../../../assets/img/capturatour_of_heroes.jpeg" alt="captura de app web tour of heroes del tutorial de angular">
            </div>

            <div class="card__descripcion">
                App web en angular, del tutorial oficial.
            </div>

            <div class="card__enlaces">
                <a href="https://github.com/NeelBit/tour_of_heroes" target="_blank" rel="noopener noreferrer" tooltip="Ver código en Github" placement="bottom">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M17.25 6.75L22.5 12l-5.25 5.25m-10.5 0L1.5 12l5.25-5.25m7.5-3l-4.5 16.5" />
                    </svg>
                </a>

                <a href="http://" target="_blank" rel="noopener noreferrer" tooltip="Ver demo desplegado" placement="bottom">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M9 17.25v1.007a3 3 0 01-.879 2.122L7.5 21h9l-.621-.621A3 3 0 0115 18.257V17.25m6-12V15a2.25 2.25 0 01-2.25 2.25H5.25A2.25 2.25 0 013 15V5.25m18 0A2.25 2.25 0 0018.75 3H5.25A2.25 2.25 0 003 5.25m18 0V12a2.25 2.25 0 01-2.25 2.25H5.25A2.25 2.25 0 013 12V5.25" />
                    </svg>
                </a>
            </div>
        </div> -->

        <!-- blog de café -->
        <!-- <div class="card" (click)="selection.value = 'blog de cafe'">
            <div class="contenedor__img">
                <img class="card__img" src="../../../assets/img/capturaBlogDeCafe.jfif" alt="captura de blog ficticio de café">
            </div>

            <div class="card__descripcion">
                Sitio web hecho en HTML y CSS, blog de café.
            </div>

            <div class="card__enlaces">
                <a href="https://github.com/NeelBit/blog_cafe" target="_blank" rel="noopener noreferrer" tooltip="Ver código en Github" placement="bottom">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M17.25 6.75L22.5 12l-5.25 5.25m-10.5 0L1.5 12l5.25-5.25m7.5-3l-4.5 16.5" />
                    </svg>
                </a>

                <a href="https://blog-cafe-neel.netlify.app" target="_blank" rel="noopener noreferrer" tooltip="Ver demo desplegado" placement="bottom">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M9 17.25v1.007a3 3 0 01-.879 2.122L7.5 21h9l-.621-.621A3 3 0 0115 18.257V17.25m6-12V15a2.25 2.25 0 01-2.25 2.25H5.25A2.25 2.25 0 013 15V5.25m18 0A2.25 2.25 0 0018.75 3H5.25A2.25 2.25 0 003 5.25m18 0V12a2.25 2.25 0 01-2.25 2.25H5.25A2.25 2.25 0 013 12V5.25" />
                    </svg>
                </a>
            </div>
        </div> -->

        <!-- Mascotas gsm -->
        <!-- <div class="card" (click)="selection.value = 'mascotasgsm'">
            <div class="contenedor__img">
                <img class="card__img" src="../../../assets/img/capturaMascotasGsm.jfif" alt="captura de app web de adopcion de mascotas hecha en django">
            </div>

            <div class="card__descripcion">
                Sitio web hecho en Django, usando además materialize css.
            </div>

            <div class="card__enlaces">
                <a href="https://github.com/NeelBit/mascotas_gsm" target="_blank" rel="noopener noreferrer" tooltip="Ver código en Github" placement="bottom">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M17.25 6.75L22.5 12l-5.25 5.25m-10.5 0L1.5 12l5.25-5.25m7.5-3l-4.5 16.5" />
                    </svg>
                </a>

                <a href="https://mascotasgsm.herokuapp.com" target="_blank" rel="noopener noreferrer" tooltip="Ver demo desplegado" placement="bottom">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M9 17.25v1.007a3 3 0 01-.879 2.122L7.5 21h9l-.621-.621A3 3 0 0115 18.257V17.25m6-12V15a2.25 2.25 0 01-2.25 2.25H5.25A2.25 2.25 0 013 15V5.25m18 0A2.25 2.25 0 0018.75 3H5.25A2.25 2.25 0 003 5.25m18 0V12a2.25 2.25 0 01-2.25 2.25H5.25A2.25 2.25 0 013 12V5.25" />
                    </svg>
                </a>
            </div>
        </div> -->

    </div>

    <div class="proyectos__ver-mas">
        <!-- Terminal -->
        <div class="terminal" [ngSwitch]="selection.value">

            <pre>\Neelbit> <span class="typewriter">Ver mas en <a href="https://github.com/NeelBit" target="_blank" rel="noopener noreferrer">Github</a> </span> </pre>
            <p *ngSwitchDefault><a href="http://" target="_blank" rel="noopener noreferrer">Código fuente de este portfolio</a>. Selecciona alguna tarjeta.</p>
            <p *ngSwitchCase="'breaking bad'">Repositorio de <a href="https://github.com/NeelBit/breaking_bad_wiki_angular" target="_blank" rel="noopener noreferrer">"Breaking bad wiki"</a></p>
            <p *ngSwitchCase="'a lo artesanal'">Repositorio de <a href="https://github.com/NeelBit/a_lo_artesanal" target="_blank" rel="noopener noreferrer">"A lo artesanal"</a></p>
            <p *ngSwitchCase="'despertares'">Repositorio de <a href="https://neelbit.github.io/despertares_propuesta/" target="_blank" rel="noopener noreferrer">"Despertares propuesta"</a></p>
            <p *ngSwitchCase="'tour of heroes'">Repositorio de <a href="https://github.com/NeelBit/tour_of_heroes" target="_blank" rel="noopener noreferrer">"Tour of heroes"</a></p>
            <p *ngSwitchCase="'blog de cafe'">Repositorio de <a href="https://github.com/NeelBit/blog_cafe" target="_blank" rel="noopener noreferrer">"Blog de café"</a>(maquetado)</p>
            <p *ngSwitchCase="'mascotasgsm'">Repositorio de <a href="https://github.com/NeelBit/mascotas_gsm" target="_blank" rel="noopener noreferrer">"Mascotas gsm"</a></p>
            <p *ngSwitchCase="'festivalMusica'">Repositorio de <a href="https://github.com/NeelBit/festival_musica" target="_blank" rel="noopener noreferrer">"Festival de música ficticio"</a></p>
            <p *ngSwitchCase="'galeriaYmapa'">Repositorio de <a href="https://github.com/NeelBit/galeria_mapa_darkmodeIconEffect" target="_blank" rel="noopener noreferrer">"Galería de imágenes y mapa"</a></p>

        </div>
    </div>

</section>