<section class="servicio contenedor" id="servicio">

    <h2>Servicios</h2>
    <p>Actualmente me encuentro formándome para convertirme en desarrollador front-end, por el momento puedo ofrecer maquetación web básica, con HTML, CSS y JS,
        siempre teniendo en cuenta las mejores prácticas para el SEO y de la web semántica.
    </p>
    <p>Para seguir afianzando mis conocimientos y ofrecer valor; algunas de mis propuestas fueron <a href="http://" target="_blank" rel="noopener noreferrer">"Despertares"</a> y "A lo artesanal".</p>
    <p>Si tiene alguna idea en mente y/o le interesa que le desarrolle una web simple, no dude en contactarme.</p>

</section>