<section class="conocimientos contenedor" id="conocimientos">

    <h2>skills and tools</h2>

    <div class="conocimientos__contenedor">

        <!-- TO-DO: objetos skill -->
        <div class="conocimientos__contenedor__item"><a href="https://www.w3.org/html/" target="_blank" rel="noreferrer"> <img src="../../../assets/img/skills/html5.svg" alt="html5" tooltip="HTML5" /> </a> </div>
        <div class="conocimientos__contenedor__item"><a href="https://www.w3schools.com/css/" target="_blank" rel="noreferrer"> <img src="../../../assets/img/skills/css3.svg" alt="css3" tooltip="CSS3" /> </a></div>
        <div class="conocimientos__contenedor__item"><a href="https://materializecss.com/" target="_blank" rel="noreferrer"> <img src="../../../assets/img/skills/materialize.svg" alt="materialize" tooltip="Materialize css" /> </a> </div>
        <div class="conocimientos__contenedor__item"><a href="https://getbootstrap.com" target="_blank" rel="noreferrer"> <img src="../../../assets/img/skills/bootstrap.svg" alt="bootstrap" tooltip="Bootstrap" /> </a> </div>
        <div class="conocimientos__contenedor__item"><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript" target="_blank" rel="noreferrer"> <img src="../../../assets/img/skills/js.svg" alt="JavaScript" tooltip="JavaScript" /> </a> </div>
        <div class="conocimientos__contenedor__item"><a href="https://www.typescriptlang.org/" target="_blank" rel="noreferrer"> <img src="../../../assets/img/skills/ts.svg" alt="typescript" tooltip="TypeScript" /> </a> </div>
        <div class="conocimientos__contenedor__item"><a href="https://angular.io" target="_blank" rel="noreferrer"> <img src="../../../assets/img/skills/angular.svg" alt="angular" tooltip="Angular" /> </a> </div>
        <div class="conocimientos__contenedor__item"><a href="https://www.python.org" target="_blank" rel="noreferrer"> <img src="../../../assets/img/skills/python.svg" alt="python" tooltip="Python" /> </a> </div>
        <div class="conocimientos__contenedor__item"><a href="https://www.djangoproject.com/" target="_blank" rel="noreferrer"> <img src="../../../assets/img/skills/django.png" alt="django" tooltip="Django" /> </a> </div>
        <div class="conocimientos__contenedor__item"><a href="https://git-scm.com/" target="_blank" rel="noreferrer"> <img src="../../../assets/img/skills/git.svg" alt="git" tooltip="Git" /> </a> </div>
        <div class="conocimientos__contenedor__item"><a href="https://www.java.com" target="_blank" rel="noreferrer"> <img src="../../../assets/img/skills/java.svg" alt="java" tooltip="Java" /> </a> </div>
        <div class="conocimientos__contenedor__item"><a href="https://www.linux.org/" target="_blank" rel="noreferrer"> <img src="../../../assets/img/skills/linux.svg" alt="linux" tooltip="GNU/Linux" /> </a> </div>

        <!-- PROBANDO OBJETO SKILL -->
        <div class="conocimientos__contenedor__item"><a href={{skill[0].urlWeb}} target="_blank" rel="noreferrer"> <img src={{skill[0].srcImg}} alt={{skill[0].nombre}} tooltip={{skill[0].title}} /> </a> </div>

    </div>



</section>