<header class="header">
    <nav class="nav">

        <a class="nav__logo" href=""><img class="nav__logo__img" src="../assets/img/avatar.svg" alt="logo avatar de portfolio neelbit"></a>

        <label for="menu" class="menu__logo">

            <ng-container *ngIf="menuCheck; then thenTemplate; else elseTemplate"></ng-container>
            <ng-template #thenTemplate>
                <svg class="menu__img" xmlns="http://www.w3.org/2000/svg" width="44" height="44" viewBox="0 0 24 24" style="fill: #eee6e6">
                    <path d="m16.192 6.344-4.243 4.242-4.242-4.242-1.414 1.414L10.535 12l-4.242 4.242 1.414 1.414 4.242-4.242 4.243 4.242 1.414-1.414L13.364 12l4.242-4.242z"></path>
                </svg>
            </ng-template>
            <ng-template #elseTemplate>
                <svg class="menu__img" xmlns="http://www.w3.org/2000/svg" width="44" height="44" viewBox="0 0 24 24" style="fill: #eee6e6">
                    <path d=" M4 6h16v2H4zm0 5h16v2H4zm0 5h16v2H4z"></path>
                </svg>
            </ng-template>

        </label>
        <input type="checkbox" name="menu" id="menu" class="menu__input" [(ngModel)]="menuCheck">

        <ul class="menu">
            <li class="menu__item"><a href="#sobre-mi"> Sobre mi</a></li>
            <li class="menu__item"><a href="#conocimientos"> Conocimientos </a></li>
            <li class="menu__item"><a href="#proyectos"> Proyectos </a></li>
            <li class="menu__item"><a href="#servicio"> Servicio </a></li>
        </ul>

        <div class="nav__rrss">
            <a class="nav__rrss__item" target="_blank" href="https://github.com/NeelBit"><img class="nav__rrss__item__img" src="../assets/img/githubLogo.svg" alt="logo github ir a github de neelbit"></a>
            <a class="nav__rrss__item" target="_blank" href="https://twitter.com/NeelBit "><img class="nav__rrss__item__img" src="../assets/img/twitterLogo.svg" alt="logo twitter ir a twitter de neelbit"></a>
        </div>
    </nav>

</header>

<app-main></app-main>
<app-sobre-mi></app-sobre-mi>
<app-conocimientos></app-conocimientos>
<app-proyectos></app-proyectos>
<app-servicio></app-servicio>
<app-footer></app-footer>