<header class="header">
    <nav class="nav">

        <a class="nav__logo" href=""><img class="nav__logo__img" src="../assets/img/avatar.svg" alt="logo avatar de portfolio neelbit"></a>

        <label for="menu" class="menu__logo">

            <ng-container *ngIf="menuCheck; then thenTemplate; else elseTemplate"></ng-container>
            <ng-template #thenTemplate>
                <svg class="menu__img" xmlns="http://www.w3.org/2000/svg" width="44" height="44" viewBox="0 0 24 24" style="fill: #eee6e6">
                    <path d="m16.192 6.344-4.243 4.242-4.242-4.242-1.414 1.414L10.535 12l-4.242 4.242 1.414 1.414 4.242-4.242 4.243 4.242 1.414-1.414L13.364 12l4.242-4.242z"></path>
                </svg>
            </ng-template>
            <ng-template #elseTemplate>
                <svg class="menu__img" xmlns="http://www.w3.org/2000/svg" width="44" height="44" viewBox="0 0 24 24" style="fill: #eee6e6">
                    <path d=" M4 6h16v2H4zm0 5h16v2H4zm0 5h16v2H4z"></path>
                </svg>
            </ng-template>

        </label>
        <input type="checkbox" name="menu" id="menu" class="menu__input" [(ngModel)]="menuCheck">

        <ul class="menu">
            <li class="menu__item"><a href="#sobre-mi"> Sobre mi</a></li>
            <li class="menu__item"><a href="#conocimientos"> Conocimientos </a></li>
            <li class="menu__item"><a href="#proyectos"> Proyectos </a></li>
            <li class="menu__item"><a href="#servicio"> Servicio </a></li>
        </ul>

        <div class="nav__rrss">
            <a class="nav__rrss__item" target="_blank" href="https://github.com/NeelBit"><img class="nav__rrss__item__img" src="../assets/img/githubLogo.svg" alt="logo github ir a github de neelbit"></a>
            <a class="nav__rrss__item" target="_blank" href="https://twitter.com/NeelBit "><img class="nav__rrss__item__img" src="../assets/img/twitterLogo.svg" alt="logo twitter ir a twitter de neelbit"></a>
        </div>
    </nav>

</header>

<app-main></app-main>

<app-sobre-mi></app-sobre-mi>
<app-conocimientos></app-conocimientos>
<app-proyectos></app-proyectos>
<app-servicio></app-servicio>

<app-footer></app-footer>

<!-- iconos:

codigo
<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
    <path stroke-linecap="round" stroke-linejoin="round" d="M14.25 9.75L16.5 12l-2.25 2.25m-4.5 0L7.5 12l2.25-2.25M6 20.25h12A2.25 2.25 0 0020.25 18V6A2.25 2.25 0 0018 3.75H6A2.25 2.25 0 003.75 6v12A2.25 2.25 0 006 20.25z" />
</svg>

codigo cierre
<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
<path stroke-linecap="round" stroke-linejoin="round" d="M17.25 6.75L22.5 12l-5.25 5.25m-10.5 0L1.5 12l5.25-5.25m7.5-3l-4.5 16.5" />
</svg>

console
<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
<path stroke-linecap="round" stroke-linejoin="round" d="M6.75 7.5l3 2.25-3 2.25m4.5 0h3m-9 8.25h13.5A2.25 2.25 0 0021 18V6a2.25 2.25 0 00-2.25-2.25H5.25A2.25 2.25 0 003 6v12a2.25 2.25 0 002.25 2.25z" />
</svg>

desktop
<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
<path stroke-linecap="round" stroke-linejoin="round" d="M9 17.25v1.007a3 3 0 01-.879 2.122L7.5 21h9l-.621-.621A3 3 0 0115 18.257V17.25m6-12V15a2.25 2.25 0 01-2.25 2.25H5.25A2.25 2.25 0 013 15V5.25m18 0A2.25 2.25 0 0018.75 3H5.25A2.25 2.25 0 003 5.25m18 0V12a2.25 2.25 0 01-2.25 2.25H5.25A2.25 2.25 0 013 12V5.25" />
</svg>

flechas apuntando hacia afuera (agrandar)
<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
<path stroke-linecap="round" stroke-linejoin="round" d="M3.75 3.75v4.5m0-4.5h4.5m-4.5 0L9 9M3.75 20.25v-4.5m0 4.5h4.5m-4.5 0L9 15M20.25 3.75h-4.5m4.5 0v4.5m0-4.5L15 9m5.25 11.25h-4.5m4.5 0v-4.5m0 4.5L15 15" />
</svg>

close
<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
<path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
</svg>
 -->